<br>
<div style="background-color:rgba(176, 196, 222, 0.3); padding:40px 30px; border-radius: 20px; min-height: 350px">
    <h2>Welcome Admin! You can manage Client, Event, Location and Supplier here.</h2>
    <div style="margin-left: 40px">
        <aside class="profile-card" style="float: left">
            <header>
                <a routerLink="/admin/client" class="account"></a>
                <h1>Client Page</h1>
                <h2>- Manage all clients -</h2>
            </header>
        </aside>
        <aside class="profile-card" style="float: left">
            <header>
                <a routerLink="/admin/event" class="event"></a>
                <h1>Event Page</h1>
                <h2>- Manage all events -</h2>
            </header>
        </aside>
        <aside class="profile-card" style="float: left">
            <header>
                <a routerLink="/admin/location" class="location"></a>
                <h1>Location Page</h1>
                <h2>- Manage all locations -</h2>
            </header>
        </aside>
        <aside class="profile-card" style="float: left">
            <header>
                <a routerLink="/admin/supplier" class="supplier"></a>
                <h1>Supplier Page</h1>
                <h2>- Manage all suppliers -</h2>
            </header>
        </aside>
        <aside class="profile-card" style="float: left">
            <header>
                <a routerLink="/" class="logout"></a>
                <h1>Logout Page</h1>
                <h2>- Bye Bye -</h2>
            </header>
        </aside>
    </div>
</div>
