<br>
<div style="background-color:rgba(176, 196, 222, 0.3); padding:40px 30px; border-radius: 20px; min-height: 350px">
    <header></header>
    <div></div>
    <h2>Welcome to Perfect Party Online Events Organization System! </h2>

    <div style="margin-left: 80px">
        <aside class="profile-card" style="float: left; margin-right: 60px">
            <header>
                <a routerLink="/account" class="account"></a>
                <h1>Account Page</h1>
                <h2>- Mange Your Info -</h2>
            </header>
        </aside>
        <aside class="profile-card" style="float: left; margin-right: 60px">
            <header>
                <a routerLink="/event" class="event"></a>
                <h1>Event Page</h1>
                <h2>- Check your events -</h2>
            </header>
        </aside>
        <aside class="profile-card" style="float: left; margin-right: 60px">
            <header>
                <a routerLink="/book" class="book"></a>
                <h1>Book Page</h1>
                <h2>- Start a new event -</h2>
            </header>
        </aside>
        <aside class="profile-card" style="float: left">
            <header>
                <a routerLink="/" class="logout"></a>
                <h1>Logout Page</h1>
                <h2>- Bye Bye -</h2>
            </header>
        </aside>
    </div>
    <footer></footer>
</div>
